<div class="reminder">
  <h3 class="reminder-title">{{reminder.title}}</h3>
  <p class="reminder-body">{{reminder.body}}</p>
  <p class="reminder-date">{{reminder.date}}</p>
  {{#link-to 'reminders.reminder.edit'}}Edit Reminder{{/link-to}}
</div>