<div>
  GO FUCK YOURSELF, LAPPY
    <input value={{target.value}} type='text' placeholder='Title'/>
    <input value={{target.value}} type='text' placeholder='Body'/>
    <button {{action "submitIdea" model}}>Submit</button>
</div>

{{outlet}}


<!-- value = model.title-->
<!-- make a model  -->
<!-- pass model into submitIdea -->
<!-- tie value typed in to model, send to action on click -->
<!-- do some shit in route to create and save the thing -->