<h1>remEMBER Donatello</h1>

<div>
  {{#each model as |reminder|}}
    {{#link-to 'reminders.reminder' reminder}}
      <h3 class="reminder-item">{{reminder.title}}</h3>
    {{/link-to}}
  {{/each}}
  {{#link-to 'reminders.new' new}}
    
  {{/link}}
</div>




{{outlet}}
